
body {
  /*background: url(baseline.png) left top repeat;*/
  background: url(i/bbg-bg.jpg) center top no-repeat;
  background-size: cover;
  padding-bottom: 60px;
}

#header #logo img {
  height: 270px;
}

#main section,
.front #main #block-system-main {
  margin-bottom: 56px;
}

/* topbar with sitename and links */
section#topbar {
  background: black;
  height: 30px;
  width:100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 9;
}

.admin-menu section#topbar {
  background: black;
  height: 30px;
  width:100%;
  position: fixed;
  top:30px;
  left:0;
  z-index: 9;
}

section#topbar .pad {
  margin: 0 auto;
  width: 700px;
}

section#topbar #site-name {
  float: left;
  width:265px;
  margin-right: 25px;
}

section#topbar nav {
  float: right;
  width:410px;
}

section#topbar nav ul#main-menu {
  height: 30px;
  margin: 0;
  padding: 3px 0 0 0;
  text-align: right;
  width: 410px;
}

/* MEMBER TABLE */
body.page-members div.view-id-members table {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  width: 100%;
}

body.page-members div.view-id-members table thead {
  background: transparent;
  border-bottom: 1px solid black;
}

body.page-members div.view-id-members table tbody tr {
  border-bottom: 1px dotted black;
}

body.page-members div.view-id-members table tr.odd {
  background: rgba(125,116,87,.2);
}

body.page-members div.view-id-members table tr.even {
  background: rgba(125,116,87,.12);
}

body.page-members div.view-id-members table th,
body.page-members div.view-id-members table td {
  background: transparent;
  padding: 10px 4px 5px;
}


footer {
  margin-top: 90px;
}

/* ookb styles */
#ookb {
  position: fixed;
  bottom: 6px;
  right: 6px;
  padding-bottom: 6px;
}

#ookb p {
  color: rgba(125,116,87,.9);
  font-size: 75%;
  margin:0;
  margin-right: 26px;
  text-transform: uppercase;
}

#ookb p img {
  border: none;
  display: block;
  float: right;
  margin: 0 0 -6px 0;
  width: 24px;
}
